<div class="container">
 
  <app-search (zipcode)="onsomeaction($event)" ></app-search>
  
  <div class="upperdata">
    
    <app-mainarea [skies]="weatherObj.skies ||''"   [locationName]="weatherObj.name ||''"  [feelsLike]="weatherObj.feels_like ||''"  ></app-mainarea>
  </div>

  <div class="lowerdata">
    <app-tempvariables  [thisType]="'Max temperature'" [thisIcon]="'hot'" [thisValue]="weatherObj.temp_max|| ''"></app-tempvariables>
    <app-tempvariables  [thisType]="'Min temperature'" [thisIcon]="'cold'" [thisValue]="weatherObj.temp_min||''"></app-tempvariables>
    
  </div>
</div>

<router-outlet></router-outlet>
